<!DOCTYPEhtml>
<html>
<head>
  <title><%=@book.title%></title>

</head>
  <body>
    <h1><%=@book.title%></h1>
    <%if @book.volume != nil%>
    <h2>Volume: <%= @book.volume%></h2>
    <%end%>

    <br></br>
    <h3>Author: </h3> <h4><%=@book.author.name%></h4>
    <br></br>
    <h3> Genre: </h3>

    <p><%@book.genres.all.each_with_index do |genre, i|%></p>
    <p><%=i+1%>. <%=genre.name%></p>
    <%end%>

    <%if logged_in? && user.books.include?(@book)%>
      <p>This book is in your collection.</p>
    <%elsif logged_in?%>
      <p>This book is not in your collection.</p>
      <a href="/manga/add/<%=@book.id%>">Add To My Collection</a>
    <%else%>
      <%nil%>
    <%end%>
  </body>
</html>
