<!DOCTYPEhtml>
<html>
<head>
  <title><%=@book.title%></title>

</head>
  <body>
    <h1><%=@book.title%></h1>
    <%if @book.volume != nil%>
    <h2>Volume: <%= @book.volume%></h2>
    <%end%>

    <h3>Author: </h3> <h4><%=@book.author.name%></h4>
    <a href="/authors/<%=@book.author.id%>">Author Details</a>
    <h3> Genre: </h3>
    <h4><%@book.genres.each_with_index do |genre, i|%>
    <p><%=i+1%>. <%=genre.name%></p>
    <a href="/genres/<%=genre.id%>">Genre Details</a>
    <%end%>
    <%if @book.genres == []%>
    <p>N/A</p>
    <%end%>
  </h4>

    <%if logged_in? && current_user.books.include?(@book)%>
      <p>This book is in your collection.</p>
      <a href="/manga/remove/<%=@book.id%>">Remove From My Collection</a>
      <br></br>
      <a href="/manga/edit/<%=@book.id%>">Edit Book Information</a>

    <%elsif logged_in?%>
      <p>This book is not in your collection.</p>
      <a href="/manga/add/<%=@book.id%>">Add To My Collection</a>
      <br></br>
      <a href="/manga/edit/<%=@book.id%>">Edit Book Information</a>
    <%else%>
      <%nil%>
    <%end%>
    <br></br>
    <a href="/manga">View All Books</a>
  </body>
</html>
