<!DOCTYPEhtml>
<html>
<head>
  <title><%=@book.title%></title>

</head>
  <body>
    <h1>Edit '<%=@book.title%>'</h1>
    <form method="post" action="/manga/edit/<%=@book.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Title: </label><input type = "text" placeholder= "<%=@book.title%>" name="manga[title]">
    <br></br>
    <label>Volume: </label><input type = "text" placeholder= "<%=@book.volume%>" name="manga[volume]">
    <br></br>
    <label>Author: </label><input type = "text" placeholder= "<%=@book.author.name%>" name="manga[author]">
    <br></br>
    <p> Or pick an author below: </p>
    <%array = Author.all - Array(@book.author)%>
    <%array.each do |author|%>
      <input type="radio" name="manga[author_id]" value="<%=author.id%>"><%=author.name%></input>
    <%end%>
    <br></br>
    <label>Genre: </label><input type = "text" name="manga[genre]">

    <h3> Genre: </h3>
    <%if @book.genres == []%>
    <p> N/A </p>
    <%end%>
    <p><%@book.genres.all.each_with_index do |genre, i|%></p>
    <p><%=i+1%>. <%=genre.name%></p>
    <%end%>

    <p>Other Genres: </p>
    <%array = Genre.all - @book.genres%>
    <%array.each do |genre|%>
      <input type="checkbox" name="manga[genre_ids][]" value="<%=genre.id%>"><%=genre.name%></input>
    <%end%>
    <br></br>
    <button type="submit" value="submit">Submit</button>
  </body>
</html>
