<!DOCTYPEhtml>
<html>
<head>
  <title><%=@book.title%></title>

</head>
  <body>
    <h1>Edit '<%=@book.title%>'</h1>
    <%= @message %>
    <form method="post" action="/manga/<%=@book.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Title: </label><input type = "text" placeholder= "<%=@book.title%>" name="manga[title]">
    <br></br>
    <label>Volume: </label><input type = "text" placeholder= "<%=@book.volume%>" name="manga[volume]">
    <br></br>
    <%if @book.author%>
      <label>Author: </label><input type = "text" placeholder= "<%=@book.author.name%>" name="manga[author]">
    <%else%>
      <label>Author: </label><input type = "text" name="manga[author]">
    <%end%>

    <br></br>
    <p> Or pick an author below: </p>
    <%array = Author.all - Array(@book.author)%>
    <%array.each do |author|%>
      <input type="radio" name="manga[author_id]" value="<%=author.id%>"><%=author.name%></input>
    <%end%>
    <br></br>
    <label>Genre: </label><input type = "text" name="manga[genre]">

    <h3> Genre: </h3>
    <p> Click all genres you'd like to categorize this work under. </p>

    <p>Other Genres: </p>
    <%Genre.all.each do |genre|%>
      <input type="checkbox" name="manga[genre_ids][]" value="<%=genre.id%>"><%=genre.name%></input>
    <%end%>
    <br></br>
    <button type="submit" value="submit">Submit</button>
  </body>
</html>
