<!DOCTYPEhtml>
<html>
<head>
  <title>Your Manga</title>
</head>
  <body>
    <h1>Hello, <%=@user.username%></h1>

    <h2> Your Manga </h2>
    <%@user.books.all.each_with_index do |book, i|%>
      <h1><%=i+1%>. <%=book.title%></h1>
      <%if book.volume != nil%>
      <p>Volume: <%= book.volume%></p>
      <a href="/manga/<%=book.id%>">Book Details</a>
      <%end%>
    <%end%>
    <br></br>
    <a href="/users/<%=@user.id%>/edit">Edit</a>
    <a href="/logout">Logout</a>
  </body>
</html>
