<!DOCTYPEhtml>
<html>
<!-- This is meant for editing a profile page and what books belong to that specific account-->
<head>
  <title>Your Manga</title>
</head>
  <body>

    <h2> Your Manga </h2>
    <h3>Check all books you'd like to delete from your collection.</h3>
    <form method="POST" action="/users/<%=@user.id/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <%@user.books.all.each do |book|%>
    <input type="checkbox" name="manga[books][]" value="<%=book.id%>"><%=book.title%></input>
      <%if book.volume != nil%>
      <p>Volume: <%= book.volume%></p>
      <%end%>

      <%if book.author != nil%>
      <p>Author: <%= book.author%></p>
      <%end%>
    <%end%>

    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>
