<!DOCTYPEhtml>
<html>
<head>
  <title><%=@genre.name%></title>

</head>
  <body>
    <h1><%=@genre.name%></h1>
    <h3> Works </h3>
    <%@genre.books.all.each_with_index do |book, i|%>
    <p><%=i+1%>. <%=book.title%></p>

    <h3> Authors </h3>
    <%@genre.authors.all.each_with_index do |genre, i|%>
    <p><%=i+1%>. <%=author.name%></p>
    <%end%>
  </body>
</html>
